venv
__pycache__

build
llm_image_classifier.egg-info
dist

.vscode/*

llm_image_classifier/models/results
llm_image_classifier/ui/statics/images/*
!llm_image_classifier/ui/statics/images/home_image.png
!llm_image_classifier/ui/statics/images/source_code_icon.png
!llm_image_classifier/ui/statics/images/upload_file_icon.png
llm_image_classifier/llm/utils/*.txt