include README.md
include LICENSE
recursive-include llm_image_classifier/ui/statics/scripts *
recursive-include llm_image_classifier/ui/statics/styles *
recursive-include llm_image_classifier/ui/templates *