{% extends "index.html" %}

{% block title %}Configurações para treinamento do modelo{% endblock %}

{% block content %}
<script src="{{ url_for('static', path='/scripts/form.js') }}"></script>
<script src="{{ url_for('static', path='/scripts/drag_drop_input_file.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', path='styles/form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='styles/drag_drop_input_file.css') }}">
<div id="container-steps">
  <ul id="progress">
    <li class="active">Configuração do Modelo</li>
    <li>Confirmação dos Parâmetros</li>
    <li>Treinamento do Modelo</li>
    <li>Treinamento Finalizado</li>
  </ul>
</div>
<h4 class="title-page">Configurações para treinamento do modelo</h4>
<div class="form">
  <form id="form" class="row g-3 align-items-center" onsubmit="submitForm(event)">
    <div class="col-12">
      <label for="inputState" class="form-label">Modelo para treinamento</label>
      <div class="content-model-name">
        <select id="inputState" class="form-select" name="model_name">
          <option value="image_classification" selected>Image Classification (Sequencial Model Keras)</option>
          <option value="XCeption">XCeption</option>
          <option value="VGG19">VGG19</option>
          <option value="ResNet50">ResNet50</option>
          <option value="MobileNet">MobileNet</option>
          <option value="InceptionV3">InceptionV3</option>
        </select>
        <img class="source-code-icon" src="{{ url_for('static', path='images/source_code_icon.png') }}" alt="Ícone de código fonte" style="margin-left: 2px;">
      </div>
    </div>
    <div class="col-3">
      <label for="inp-epochs" class="form-label" title="Quantidade de épocas a serem utilizadas no treinamento">Épocas</label>
      <input type="number" min="1" name="epochs" class="form-control" id="inp-epochs" placeholder="5" required>
    </div>
    <div class="col-3">
      <label for="inp-seed" class="form-label" title="Define uma semente para a geração aleatória. Isso é útil para garantir que os dados sejam embaralhados da mesma maneira toda vez que o código for executado, permitindo reprodutibilidade.">Seed</label>
      <input type="number" min="1" name="seed" class="form-control" id="inp-seed" placeholder="10" required>
    </div>
    <div class="col-3">
      <label for="inp-batch-size" class="form-label" title="Quantidade de épocas a serem utilizadas no treinamento">Batch Size</label>
      <input type="number" min="1" name="batch_size" class="form-control" id="inp-batch-size" placeholder="10" required>
    </div>
    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inp-shuffle" name="shuffle" checked>
        <label class="form-check-label" for="inp-shuffle" title="Indica que as imagens devem ser embaralhadas a cada época. Isso ajuda a evitar que o modelo aprenda a sequência das imagens ao invés dos padrões nas próprias imagens.">
          Aplicar Shuffle
        </label>
      </div>
    </div>
    <!-- Checkbox para escolher entre caminho ou upload -->
    <div class="col-6">
      <label for="select-dataset-configuration" class="form-label">Configuração de dataset</label>
      <div class="content-model-name">
        <select id="select-dataset-configuration" class="form-select" name="configuration-mode">
          <option value="absolute-path-section" selected>Caminho absoluto</option>
          <option value="dataset-upload-section">Upload de Dataset</option>
          <option value="create-classes-section">Criar classes manualmente</option>
        </select>
      </div>
    </div>

  <!-- Input para o caminho absoluto -->
  <div id="absolute-path-section" class="section-config-mode">
      <label for="trainDatasetPath">Caminho do Dataset de Treinamento:</label>
      <input type="text" id="train-absolute-path-section" name="train_dataset_path" class="form-control set-to-not-required" placeholder="Caminho absoluto do dataset de treinamento" value="C:\Development\Faculdade\TCC\Utilitários\Datasets\Tumores\train">
      <br>
      <label for="valDatasetPath">Caminho do Dataset de Validação:</label>
      <input type="text" id="valid-absolute-path-section" name="valid_dataset_path" class="form-control set-to-not-required" placeholder="Caminho absoluto do dataset de validação" value="C:\Development\Faculdade\TCC\Utilitários\Datasets\Tumores\test">
  </div>

  <!-- Input para upload de arquivos -->
  <div id="dataset-upload-section" class="section-config-mode" style="display:none;">
    <div class="train-section">
        <label for="trainDataset"><strong>Upload Dataset de Treinamento:</strong></label>
        <label for="file" class="file-input">
          <div class="drop-zone" id="drop-zone">
            <img class="source-code-icon" src="{{ url_for('static', path='images/upload_file_icon.png') }}" alt="Ícone de código fonte" style="margin-left: 2px;">
            <p>Arraste o arquivo aqui.</p>
            <p>ou</p>
            <p class="choose-file">Escolher arquivo</p>
            <p class="format-available">Formato .zip</p>
          </div>
          <input class="input-file" type="file" id="train-dataset-upload-section set-to-not-required" name="file_training"/>
        </label>
    </div>
    
    <div class="valid-section">
      <label for="valDataset"><strong>Upload Dataset de Validação:</strong></label>
      <label for="file" class="file-input">
        <div class="drop-zone" id="drop-zone">
          <img class="source-code-icon" src="{{ url_for('static', path='images/upload_file_icon.png') }}" alt="Ícone de código fonte" style="margin-left: 2px;">
          <p>Arraste o arquivo aqui.</p>
          <p>ou</p>
          <p class="choose-file">Escolher arquivo</p>
          <p class="format-available">Formato .zip</p>
        </div>
        <input class="input-file set-to-not-required" type="file" id="vaid-dataset-upload-section" name="file_validation"/>
      </label>
    </div>
      
  </div>
    <div class="col-12">
      <button id="btn-config-model" type="submit" class="btn btn-primary" disabled>Configurar Modelo</button>
    </div>
  </form>
  <div id="loader-model-train" class="display-none">
    <div class="spinner-border" role="status"></div>
    <span class="sr-only">O modelo está sendo treinado...</span>
    <a href="/logs_screen">Verificar Logs</a>
  </div>
  <div id="loader-config-parameters" class="display-none">
    <div class="spinner-border" role="status"></div>
    <span class="sr-only">Preparando o ambiente para iniciar o treinamento</span>
  </div>
</div>
<dialog class="source-code-dialog" style="inset-area: center;">
  <h3>Código Fonte</h3>
  <span class="model-name"></span>
  <pre class="source-code-panel"><code id="python-code" class="language-python"></code></pre>
</dialog>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script>
{% endblock %}