{% extends "index.html" %}

{% block title %}Configurações para treinamento do modelo{% endblock %}

{% block content %}
<script src="{{ url_for('static', path='/scripts/form.js') }}"></script>
<!-- <script src="{{ url_for('static', path='/scripts/drag_drop_input_file.js') }}"></script> -->
<link rel="stylesheet" href="{{ url_for('static', path='styles/form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='styles/drag_drop_input_file.css') }}">
<div id="container-steps">
  <ul id="progress">
    <li class="active">Configuração do Modelo</li>
    <li>Confirmação dos Parâmetros</li>
    <li>Treinamento do Modelo</li>
    <li>Resultado do Modelo</li>
    <li>Testes com o Modelo</li>
  </ul>
</div>
<h4 class="title-page">Configurações para treinamento do modelo</h4>
<div class="form">
  <form id="form" class="row g-3 align-items-center" onsubmit="submitForm(event)">
    <div class="col-12">
      <label for="inputState" class="form-label">
        Modelo para treinamento
      </label>
      <div class="content-model-name">
        <select id="inputState" class="form-select" name="model_name">
          <option value="image_classification" selected>Image Classification (Sequencial Model Keras)</option>
          <option value="XCeption">XCeption</option>
          <option value="VGG19">VGG19</option>
          <option value="ResNet50">ResNet50</option>
          <option value="MobileNet">MobileNet</option>
          <option value="InceptionV3">InceptionV3</option>
        </select>
        <img class="source-code-icon" src="{{ url_for('static', path='images/source_code_icon.png') }}" alt="Ícone de código fonte" style="margin-left: 2px;">
      </div>
    </div>
    <div class="col-3">
      <label for="inp-epochs" class="form-label" title="Quantidade de épocas a serem utilizadas no treinamento">
        Épocas
      </label>
      <input type="number" min="1" name="epochs" class="form-control" id="inp-epochs" placeholder="5" required>
    </div>
    <div class="col-3">
      <label for="inp-seed" class="form-label" title="Define uma semente para a geração aleatória. Isso é útil para garantir que os dados sejam embaralhados da mesma maneira toda vez que o código for executado, permitindo reprodutibilidade.">
        Seed
      </label>
      <input type="number" min="1" name="seed" class="form-control" id="inp-seed" placeholder="10" required>
    </div>
    <div class="col-3">
      <label for="inp-batch-size" class="form-label" title="Quantidade de épocas a serem utilizadas no treinamento">
        Batch Size
      </label>
      <input type="number" min="1" name="batch_size" class="form-control" id="inp-batch-size" placeholder="10" required>
    </div>
    <div class="col-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="inp-shuffle" name="shuffle" checked>
        <label class="form-check-label" for="inp-shuffle" title="Indica que as imagens devem ser embaralhadas a cada época. Isso ajuda a evitar que o modelo aprenda a sequência das imagens ao invés dos padrões nas próprias imagens.">
          Aplicar Shuffle
        </label>
      </div>
    </div>
    <!-- Dropdown para escolher entre caminho ou upload -->
    <div class="col-6">
      <label for="select-dataset-configuration" class="form-label label-dataset-config">
        Configuração de dataset
        <span class="material-symbols-outlined" id="config-help" onclick="document.getElementById('datasetDialog').showModal()", style="cursor: pointer;">
          help
        </span>
      </label>
      <div class="content-model-name">
        <select id="select-dataset-configuration" class="form-select" name="configuration-mode">
          <option value="manual-config" selected>Criar classes manualmente</option>
          <option value="upload-dataset">Upload de Dataset</option>
          <option value="dataset-path">Caminho absoluto</option>
        </select>
      </div>
    </div>
    <div class="col-6" style="margin-top: auto;">
      <span id="btn-create-new-class" class="btn btn-secondary section-config-mode" onclick="openDialog()">Criar nova classe</span>  
    </div>

    <!-- Manual Config -->
    <div id="manual-config" class="section-config-mode">
      <div class="manual-section">
        <span><strong>Classes</strong></span>
        <div class="training-dataset">
          <span>Crie uma nova classse para visualizá-la aqui</span>
          <!-- Card de imagem com evento de clique para abrir o diálogo -->
          <!-- <div class="image-card" onclick="openDialog(this)">
            <div class="image-wrapper">
                <img src="" alt="">
                <span class="badge">Counter</span>
            </div>
            <div class="caption">Class Name</div>
          </div> -->
        </div>
      </div>
    </div>


    <!-- Input para upload de arquivos -->
    <div id="upload-dataset" class="section-config-mode" style="display:none;">
      <div class="train-section">
          <label for="trainDataset"><strong>Upload Dataset de Treinamento:</strong></label>
          <label for="file" class="file-input">
            <div class="drop-zone" id="drop-zone">
              <img class="upload-file-icon" src="{{ url_for('static', path='images/upload_file_icon.png') }}" alt="Ícone de código fonte" style="margin-left: 2px;">
              <p>Arraste o arquivo aqui.</p>
              <p>ou</p>
              <p class="choose-file">Escolher arquivo</p>
              <p class="format-available">Formato .zip</p>
            </div>
            <input class="input-file set-to-not-required" type="file" id="train-upload-dataset" accept="application/x-zip-compressed" name="file_training"/>
          </label>
      </div>
      
      <div class="valid-section">
        <label for="valDataset"><strong>Upload Dataset de Validação:</strong></label>
        <label for="file" class="file-input">
          <div class="drop-zone" id="drop-zone">
            <img class="upload-file-icon" src="{{ url_for('static', path='images/upload_file_icon.png') }}" alt="Ícone de código fonte" style="margin-left: 2px;">
            <p>Arraste o arquivo aqui.</p>
            <p>ou</p>
            <p class="choose-file">Escolher arquivo</p>
            <p class="format-available">Formato .zip</p>
          </div>
          <input class="input-file set-to-not-required" type="file" id="valid-upload-dataset" accept="application/x-zip-compressed" name="file_validation"/>
        </label>
      </div>
    </div>

    <!-- Input para o caminho absoluto -->
    <div id="dataset-path" class="section-config-mode" style="display:none;">
        <label for="trainDatasetPath">Caminho do Dataset de Treinamento:</label>
        <input type="text" id="train-dataset-path" name="train_dataset_path" class="form-control set-to-not-required" placeholder="Caminho absoluto do dataset de treinamento" value="C:\Development\Faculdade\TCC\Utilitários\Datasets\Tumores\train">
        <br>
        <label for="valDatasetPath">Caminho do Dataset de Validação:</label>
        <input type="text" id="valid-dataset-path" name="valid_dataset_path" class="form-control set-to-not-required" placeholder="Caminho absoluto do dataset de validação" value="C:\Development\Faculdade\TCC\Utilitários\Datasets\Tumores\test">
    </div>

    <div class="col-12">
      <button id="btn-config-model" type="submit" class="btn btn-primary" disabled>Configurar Modelo</button>
    </div>
  </form>

  <!-- LOADERS -->
  <div id="loader-model-train" class="display-none">
    <div class="spinner-border" role="status"></div>
    <span class="sr-only">O modelo está sendo treinado...</span>
    <a href="/logs_screen">Verificar Logs</a>
  </div>
  <div id="loader-config-parameters" class="display-none">
    <div class="spinner-border" role="status"></div>
    <span class="sr-only">Preparando o ambiente para iniciar o treinamento</span>
  </div>
</div>

<!-- DIALOG SOURCE CODE -->
<dialog id="codeDialog">
    <h2>Código Fonte</h2>
    <h3 class="model-name"></h3>
    <div id="sourceCode">
      <pre class="source-code-panel"><code id="python-code" class="language-python"></code></pre>
    </div>
    <button id="closeCodeDialogButton" class="btn btn-primary" onclick="document.getElementById('codeDialog').close()">Fechar</button>
</dialog>

<!-- DIALOG DATASET CONFIG -->
<dialog id="datasetDialog">
  <div class="dialog-header">
    <!-- Botão de voltar e título dinâmico -->
    <h2>
        <button class="back-button" onclick="document.getElementById('datasetDialog').close()">&#8592;</button>
        <span id="dialog-title">Configuração do Dataset</span>
    </h2>
    <!-- Quantidade de imagens encontrada, preenchida dinamicamente -->
    <!-- <p class="image-count" id="image-count">Image Count</p> -->
  </div>
    <p>Há 3 formas de realizar a configuração do dataset na ferramenta:</p>
    <ol>
      <li>
        <strong>Configuração manual das classes:</strong>
        <p>É possível configurar o dataset manualmente criando suas próprias classes e adicionando as imagens correspondentes. Essa opção é ideal caso você ainda não tenha um dataset pronto no formato necessário. Basta criar as classes diretamente na interface da ferramenta e fazer o upload das imagens de cada classe. Dessa forma, você terá o controle total sobre a organização dos dados que serão usados no treinamento do modelo.</p>
      </li>
      <li>
        <strong>Upload do arquivo zip:</strong> 
        <p>Faça o upload dos arquivos de treinamento e validação no formato .zip. Este arquivo deve conter a seguinte estrutura:</p>
        <pre>
/nome_do_dataset.zip
├── /classe_1
│   ├── imagem_001.jpg
│   ├── imagem_002.jpg
│   ├── imagem_003.jpg
│   └── ...
├── /classe_2
│   ├── imagem_001.jpg
│   ├── imagem_002.jpg
│   ├── imagem_003.jpg
│   └── ...
└── /classe_N
├── imagem_001.jpg
├── imagem_002.jpg
├── imagem_003.jpg
└── ...
        </pre>
        <p>Cada subdiretório representa uma classe, contendo as imagens correspondentes.</p>
      </li>
      <li>
          <strong>Caminho absoluto do dataset:</strong>
          <p>Indique o caminho absoluto do dataset na máquina onde a ferramenta está rodando. A estrutura deve ser idêntica ao formato acima, mas não é necessário compactar o diretório em um arquivo zip. A ferramenta deve ter permissão de acesso ao diretório para copiá-lo para a localização adequada.</p>
      </li>
    </ol>
    <button id="closeDatasetDialogButton" class="btn btn-primary" onclick="document.getElementById('datasetDialog').close()">Fechar</button>
</dialog>


<!-- Manual Class Dialog -->

<!-- Diálogo com a galeria de imagens -->
<dialog id="image-dialog">
  <div class="dialog-header">
      <!-- Botão de voltar e título dinâmico -->
      <h2>
          <button class="back-button" onclick="closeDialog()">&#8592;</button>
          <span id="dialog-title">Configurar Classe</span>
      </h2>
      <!-- Quantidade de imagens encontrada, preenchida dinamicamente -->
      <!-- <p class="image-count" id="image-count">Image Count</p> -->
  </div>
  <!-- Botão de fechar no canto superior direito -->
  <button class="close-button" onclick="closeDialog()">×</button>
  <div class="dialog-content">
    <div class="class-info">
      <form class="row g-3 align-items-center" onsubmit="handleFormSubmit(event)">
        <div class="col-5">
          <label for="inp-epochs" class="form-label" title="Nome da classe a ser configurada">
            Nome da Classe
          </label>
          <input type="text" name="class-name" class="inp-class-name form-control" required>
        </div>
        <div class="col-auto" style="margin-top: auto;">
          <button id="btn-save-class" class="btn btn-primary" type="submit">Salvar</button>
        </div>
        <div class="col-auto" style="margin-top: auto;">
          <button id="btn-delete-class" onclick="deleteClass()" class="btn btn-danger" type="button">Deletar Classe</button>
        </div>
        <div class="invalid-feedback">
          É necessário salvar ao menos duas imagens da classe desejada
        </div>
      </form>
    </div>
    <div class="content-to-import">
      <div class="input-content">
        <label for="valDataset"><strong>Upload de imagens:</strong></label>
          <label for="file" class="file-input">
            <div class="drop-zone" id="drop-zone">
              <img class="upload-file-icon" src="{{ url_for('static', path='images/upload_file_icon.png') }}" alt="Ícone de código fonte" style="margin-left: 2px;">
              <p>Arraste o arquivo aqui.</p>
              <p>ou</p>
              <p class="choose-file">Escolher arquivo</p>
              <p class="format-available">Formato JPG, PNG</p>
            </div>
            <input 
              class="input-file set-to-not-required" type="file" id="upload-images" 
              accept="image/png, image/jpeg, image/jpg" name="file_validation"
              addToAlbumWithId="image-grid"
              multiple
            />
          </label>
      </div>
      <div class="image-content">
        <p class="image-count" id="image-count">Nenhuma imagem adicionada</p>
        <div id="image-grid" class="image-grid">
          <!-- <img src="" alt="Imagem de tumor"> -->
        </div>
      </div>
    </div>
  </div>
</dialog>
{% endblock %}