{% extends "index.html" %}

{% block title %}Logs{% endblock %}

{% block content %}
<div id="container-steps">
    <ul id="progress">
        <li class="active">Configuração do Modelo</li>
        <li class="active">Confirmação dos Parâmetros</li>
        <li class="active">Treinamento do Modelo</li>
        <li>Treinamento Finalizado</li>
    </ul>
</div>
<h4 class="title-page">Logs</h4>
<div id="code-block">
    <form action="/reset-logs">
        <button id="clean-log" type="submit"><i class="bi bi-eraser"></i>Limpar Logs</button>
    </form>
    <pre id="log-content"><code id="python-code" class="language-python">{{ function_code }}</code></pre>
    <form action="/test_model">
        <button disabled type="submit" id="btn-test-model" class="btn btn-primary">
            Analisar Modelo e realizar testes
        </button>
    </form>
</div>
<script src="{{ url_for('static', path='/scripts/logs.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', path='styles/logs.css') }}">
{% endblock %}
