{% extends "index.html" %}

{% block title %}Código Fonte{% endblock %}

{% block content %}
<script src="{{ url_for('static', path='/scripts/test_model.js') }}"></script>
<div class="result-model">
  <h3>Resultado do Modelo Treinado</h3>
  <div class="loss-accuracy">
    <span><b>Validation Loss:</b> {{validation_loss}} |</span>
    <span><b>Validation Accuracy:</b> {{validation_accuracy}}%</span>
    <br/>
    <span><b>Test Loss:</b> {{test_loss}} |</span>
    <span><b>Test Accuracy:</b> {{test_accuracy}}%</span>
  </div>
  <div class="graphs">
    <img src="{{ url_for('static', path='images/confusion_matrix.png') }}" alt="Matriz Confusão", style="width: 35%; height: auto;">
    <img src="{{ url_for('static', path='images/Training and validation Loss and Accuracy.png') }}" alt="Validation Loss e Accuracy", style="width: 40%; height: auto;">
  </div>
</div>
<div class="mb-3 col-5" style="margin: auto;">
  <label for="formFile" class="form-label">Fazer upload do arquivo para teste do Modelo</label>
  <input class="form-control" type="file" id="formFile">
  <button id="test-model" class="btn btn-primary" style="margin-top: 2vh;" disabled>Testar modelo</button>
  <button id="download-model" class="btn btn-primary" style="margin-top: 2vh;">Fazer Download do Modelo</button>
  <div id="loader-test-model" class="display-none">
    <div class="spinner-border" role="status"></div>
    <span class="sr-only">Identificando categoria da imagem...</span>
  </div>
  <div id="loader-download-model" class="display-none">
    <div class="spinner-border" role="status"></div>
    <span class="sr-only">Preparando o download do modelo...</span>
  </div>
</div>
{% endblock %}
