{% extends "index.html" %}

{% block title %}Teste do modelo{% endblock %}

{% block content %}

<div id="container-steps">
  <ul id="progress">
    <li class="active">Configuração do Modelo</li>
    <li class="active">Confirmação dos Parâmetros</li>
    <li class="active">Treinamento do Modelo</li>
    <li class="active">Resultado do Modelo</li>
    <li class="active">Testes com o Modelo</li>
  </ul>
</div>
<h4 class="title-page">Testar modelo treinado</h4>
<div class="test-container">
  <div class="test-header">
    <span><strong>Upload de imagem para teste</strong></span>
    <button type="submit" class="btn btn-danger" onclick="document.getElementById('confirmDialog').showModal()">Treinar um novo modelo</button>
  </div>
  <div class="test-result-container">
    <div class="test-input-container">
      <label for="file" class="file-input">
        <div class="drop-zone" id="drop-zone">
          <img class="upload-file-icon" src="{{ url_for('static', path='images/upload_file_icon.png') }}" alt="Ícone de código fonte" style="margin-left: 2px;">
          <p>Arraste o arquivo aqui.</p>
          <p>ou</p>
          <p class="choose-file">Escolher arquivo</p>
          <p class="format-available">Formato JPG, PNG</p>
        </div>
        <input class="input-file" type="file" accept="image/png, image/jpeg, image/jpg" id="train-dataset-upload-section set-to-not-required" name="file_training"/>
      </label>
      <div class="btns">
        <button id="download-model" class="btn btn-primary">Download Model</button>
        <button id="test-model" class="btn btn-primary">Testar Modelo</button>
      </div>
    </div>
    <div class="result-container">
      <div class="compatibilidade">
        <div id="bars">
          <!-- <div class="title">Compatibilidade</div> -->
          <!-- <div class="bar-container">
            <div class="label" style="color: #008000;">Glioma</div>
            <div class="bar">
              <div class="bar-fill glioma" style="width: 20%;"></div>
            </div>
            <div class="percentage">25%</div>
          </div> -->
        </div> 
      </div>
      <div id="loader-test-model" class="display-none">
        <div class="spinner-border" role="status"></div>
        <span class="sr-only">Identificando categoria da imagem...</span>
      </div>
      <div id="loader-download-model" class="display-none">
        <div class="spinner-border" role="status"></div>
        <span class="sr-only">Preparando o download do modelo...</span>
      </div>
    </div>
  </div>
</div>

<!-- DIALOG GENERATE NEW TRAINING -->
<dialog id="confirmDialog">
    <h2>Iniciar um novo treinamento</h2>
    <p>Por favor, confirme que você deseja iniciar um novo treinamento. Isso o redirecionará para a tela de home para iniciar o fluxo novamente!</p>
    <div class="button-container">
        <button class="button cancel" onclick="document.getElementById('confirmDialog').close()">Cancelar</button>
        <button class="button continue" onclick="window.location.href='/'">Continuar</button>
    </div>
</dialog>

<script src="{{ url_for('static', path='/scripts/drag_drop_input_file.js') }}"></script>
<script src="{{ url_for('static', path='/scripts/test_model.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', path='styles/drag_drop_input_file.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='styles/test_model.css') }}">

{% endblock %}