.content-model-name {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form {
    width: 50vw;
    align-self: center;
}

#loader-model-train, #loader-config-parameters {
    margin-top: 4vh;
    display: none;
}

.tool-details-text span{
    display: block;
}

.btn-create-new-model {
    margin-top: 30px;
    padding: 15px;
    border-radius: 10px;
    background-color: #5350C4;
    color: white;
    border: none;
    text-decoration: none;
}

dialog.source-code-dialog {
    border: none;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    height: 80%;
    overflow: hidden;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: .875em;
    height: 90%;
}

code {
    height: 100%;
    overflow: auto;
}