.content-model-name {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form {
    width: 55vw;
    align-self: center;
}

#loader-model-train, #loader-config-parameters {
    margin-top: 4vh;
    display: none;
}

.tool-details-text {
    display: flex;
    flex-direction: column;
}

.tool-details-text span{
    display: block;
}


dialog.source-code-dialog {
    border: none;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    height: 80%;
    overflow: hidden;
}

pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: .875em;
    height: 90%;
}

code {
    height: 100%;
    overflow: auto;
}

#dataset-upload-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.train-section, .valid-section {
    /* width: 40%; */
    display: flex;
    flex-direction: column;
}