body {
    font-family: Arial, sans-serif;
}

.title-page {
    text-align: center;
    margin: 1rem;
}

.content-model-name {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

code {
    font-family: "Courier New", Courier, monospace;
}

.form {
    width: 50vw;
    align-self: center;
}

i {
    margin-right: 0.2vw;
}

#loader-model-train, #loader-config-parameters {
    margin-top: 4vh;
    display: none;
}