#code-block {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-self: center;
    margin-bottom: 20px;
}

#clean-log, #copy-button {
    width: 6.5vw;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px;
    font-size: 1.7vh;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#clean-log{
    width: 10vw;
}

pre {
    flex: 1;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-top-left-radius: 0px;
    margin-bottom: 1rem;
    overflow: auto;
}

#btn-test-model{
    padding: 10px;
    border-radius: 50px;
    width: 25vw;
    background-color: #5350C4;
    color: white;
    border: none;
    text-decoration: none;
    text-align: center;
}